{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Su eleccion
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}
        {% if player.id_in_group == 1 %}

            <img src="{% static 'control/control2-graph-P1.png' %}" class="center" width="80%" height="80%" />

        {% else %}

            <img src="{% static 'control/control2-graph-P2.png' %}" class="center" width="80%" height="80%" />

        {% endif %}
<br />
<div class="form-group required">
    {% if player.id_in_group == 1 %}
    <h2> Usted es la Persona 1 jugando con otro participante</h2>
    <p>
        La Persona 2 dice: "Escojo
        {% if group.ask_answer%}
            {% if group.send_answer == 'R' %}
                <img src="{% static 'control/right.png' %}" width="10%" height="10%"/>
            {% else %}
                <img src="{% static 'control/left.png' %}" width="10%" height="10%"/>
            {% endif %}
        ".
        {% else %}
        {{group.get_send_answer_display}}".
        {% endif %}
        <br>
        Cual es su decision final?
    </p>
    {% formfield player.decision label="Su decision es:" %}
    {% else %}
        
    <h2> Usted es la Persona 2 jugando con otro participante</h2>
    <p>
        La persona 1 dice: "Escojo
        {% if group.ask_answer%}
            {% if group.send_message == 'R' %}
                <img src="{% static 'control/right.png' %}" width="10%" height="10%"/>
            {% else %}
                <img src="{% static 'control/left.png' %}" width="10%" height="10%"/>
            {% endif %}
        ".
        {% else %}
        {{ group.get_send_message_display }}".
        {% endif %}<br>
        Decision de la Persona 1: "Opcion
        {% if group.ask_answer%}
            {% if player.other_player.decision == 'R' %}
                <img src="{% static 'control/right.png' %}" width="10%" height="10%"/>
            {% else %}
                <img src="{% static 'control/left.png' %}" width="10%" height="10%"/>
            {% endif %}
        ".
        {% else %}
        {{ other_decision }}".
        {% endif %}
        <br>
           
        Cual es su decision final?
    </p>
    {% formfield player.decision label="Your choice is:" %}
    {% endif %}
</div>

    {% next_button %}

{% endblock %}
