{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Su mensaje
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}
        {% if player.id_in_group == 1 %}

            <img src="{% static 'control/control2-graph-P1.png' %}" class="center" width="80%" height="80%" />

        {% else %}

            <img src="{% static 'control/control2-graph-P2.png' %}" class="center" width="80%" height="80%" />

        {% endif %}

<br />
<div class="form-group required">
    {% if player.id_in_group == 1 %}
    <h2> Usted es la Persona 1 jugando con otro participante</h2>
    <p>
        {% if group.send_answer != None %} {%if group.send_answer != 'ask' %} Mensaje de la Persona 2: "Yo escojo {{group.get_send_answer_display}}". {% endif %} {% endif %}<br>
    </p>
    {% formfield group.send_message label="Su mensaje hacia el otro participante? <br>Esta no es su respuesta final" %}
    {% else %}
    <h2> Usted es la Persona 2 jugando con otro participante</h2>
    <p>
        {% if group.send_message != None %} {% if group.send_message != 'ask' %} Mensaje de la Persona 1: "Yo escojo {{group.get_send_message_display}}". {% endif %} {% endif %}<br>
    </p>
    {% formfield group.send_answer label="Su mensaje hacia el otro participante? <br>Esta no es su respuesta final" %}
    {% endif %}
        {% next_button %}
</div>


{% endblock %}
