{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instrucciones
{% endblock %}
  
{% block content %}
    {% if player.id_in_group == 1 %}

    <img src="{% static "control/control2-graph-P1.png" %}" class="center" width="80%" height="80%" />

    <p>
        Como usted es la Persona 1, usted va a elegir primero. <strong>La Persona 2 observa la misma figura que usted, pero con diferentes símbolos en ella. En otras palabras, su figura no 
        tiene los símbolos # y @ sino otros</strong>. Por ende, cuando la Persona 2 reciba su mensaje, los símbolos en el mensaje no van a corresponder a los símbolos que él/ella observan. Usted va a empezar con una
        asignación de <strong>5 puntos</strong> que pueden ser utilizados durante la actividad. Para empezar, usted debe enviar un mensaje a la Persona 2. Usted tiene la opción de enviar un mensaje de la forma <strong>"Yo elijo #"</strong> 
        o <strong>"Yo elijo @"</strong> de forma gratuita, o usted puede pedirle a la Persona 2 que le revele qué lado de la figura escogió, para lo cual usted <strong>incurriría en un costo de 5 puntos descontados de su asignación inicial.</strong>.
    </p>
    <p>
        Luego de que la Persona 2 reciba su mensaje, él/ella tiene múltiples opciones. Si usted envió un mensaje de la forma "Yo elijo #" o "Yo elijo @", la Persona 2 tiene la opción de  
        enviarle un mensaje de la forma "Yo elijo ..." donde el símbolo no va a corresponder a los símbolos de su figura. En ese punto, usted tiene que proceder a tomar su decisión final. 
    </p>
    <p>
        De igual manera, si usted envió un mensaje diciento "Yo elijo..." entonces el otro participante también tiene la opción de pedirle que revele qué lado de la figura usted escogió (izquierda o derecha) para lo cual <strong>ellos van a  
        incurrir en un costo de 5 puntos</strong>. Usted puede revelar qué lado de la figura escogió de manera gratuita, o <strong> a un costo de 5 puntos descontados de su asignación </strong> usted puede mantener su elección en secreto. Si usted reveló el lado de la figura que 
        escogió, la Persona 2 debe también enviarle un mensaje indicando qué lado de la figura escogió él/ella. De otra manera, si usted elige mantener su elección en secreto, usted va a recibir un mensaje de la forma "Yo elijo ..." 
        de la Persona 2. En ese punto, usted tiene que proceder a tomar su decisión final.  
    </p>
    <p>
        Si usted le pidió a la Persona 2 que le revele el lado de la figura que escogió en su primer mensaje, la Persona 2 tiene la opción de revelarle esa información de forma gratuita, o puede mantenerla en secreto 
        para lo cual <strong>la Persona 2 va a incurrir en un costo de 5 puntos </strong>. Si la Persona 2 escoge esta última opción, usted va a recibir un mensage de la Persona 2 de la forma: "Yo elijo ..." donde el símbolo elegido no va a 
        corresponder a los símbolos en su figura y usted debe responder con un mensaje de la forma "Yo elijo ...". Entonces usted tiene que proceder a tomar su decisión final.  De otra manera, si la Persona 2 escogió revelarle  
        la información, usted va a recibir un mensaje indicando el lado de la figura que la Persona 2 ha escogido, y usted debe responder con un mensaje indicando qué lado de la figura usted escogió. Una vez que usted ha 
        recibido estos mensajes, tiene que proceder a tomar su decisión final.
    </p>
    <p>
        Luego de conocer el mensaje de la Persona 2, usted puede quedarse con su elección original o cambiarla por otra decisión final. La Persona 2 también puede quedarse con su primera elección o cambiarla por una decisión final. La Persona 2 va a recibir estas mismas indicaciones, pero ninguno de los dos va a saber cuál es la decisión final del otro. Las decisiones finales de las dos personas (Persona 1 y Persona 2) van a determinar el pago.
    </p>

    {% else %}

    <img src="{% static "control/control2-graph-P2.png" %}" class="center" width="80%" height="80%" />

    <p>
        Dado que usted es la Persona 2, usted debe esperar al mensaje de la Persona 1 antes de enviar su mensaje. <strong>Es importante recordar que la Persona 1 observa la misma Figura 1 que usted, pero con símbolos diferentes. Es decir, su gráfico no tiene los símbolos &amp; ni *, sino otros. </strong>  
        Usted va a empezar con una asignación de
        <strong>5 puntos</strong> que pueden ser utilizados durante la actividad. El mensaje de la Persona 1 va a ser de la forma: "Yo elijo..." o "Yo elijo...", donde los símbolos elegidos no van a corresponder a los símbolos que usted observa en su figura; caso contrario, la Persona 1 va a pedirle que revele qué lado del gráfico escogió (izquierda o derecha), para lo cuál <strong>incurrirá en un costo de 5 puntos</strong>.
    </p>
    <p>
        Luego de recibir el mensaje de la Persona 1, usted tiene múltiples opciones dependiendo de la forma del mensaje que recibe. Si la Persona 1 le envió un mensaje diciendo 
        "Yo elijo...", usted puede responderle con un mensaje de la forma: "Yo elijo &amp;" o "Yo elijo *"; o puede pedirle que le revele qué lado del gráfico 
        ha escogido, para lo cual usted <strong>incurriría en un costo de 5 puntos descontados de su asignación. </strong>. Si usted escoge esta última opción, la Persona 1 tiene la opción de revelarle esa información de manera 
        gratuita, o puede guardar esa información en secreto, lo cuál  <strong>le costaría 5 puntos</strong>. Si la Persona 1 elige revelarle la información, usted debe enviarle un mensaje a la Persona 1 revelando qué lado escogió usted (izquierda o derecha). En ese punto del juego, usted debe proceder a tomar una decisión final. Caso contrario, si la Persona 1 
        eligió mantener esa información en secreto, entonces usted debe enviarle un mensaje diciendo: "Yo elijo...", y posteriormente va a proceder a tomar su decisión final.
        
    </p>
    <p>
        Si la Persona 1 le ha pedido que le revele qué lado del gráfico escogió, usted puede revelarle la información de forma gratuita, o puede mantener esa 
        información en secreto para lo cual <strong>incurriría en un costo de 5 puntos descontados de su asignación </strong>. Si usted decidió revelar la información, usted va a enviar un mensaje a la Persona 1, indicándole cuál lado del gráfico eligió (derecha o izquierda), y va a recibir un mensaje de la Persona 1 indicándole qué lado del gráfico escogió él/ella. 
        En ese punto del juego, usted debe proceder a tomar una decisión final. Caso contrario, si usted decidió mantener esa información en secreto, usted va a enviarle 
        un mensaje a la Persona 1 diciendo: "Yo elijo...", y usted también va a recibir un mensaje de la Persona 1 de la forma "Yo elijo..." y posteriormente va a proceder a tomar su decisión final.
        
    </p>
    <p>
        Luego de conocer el mensaje de la Persona 1, usted puede quedarse con su elección original o cambiarla por otra decisión final. La Persona 1 también puede quedarse con su decisión inicial o cambiarla por una decisión final. La Persona 1 va a recibir estas mismas indicaciones, sin embargo, ninguno de los dos va a saber la decisión final del otro. 
        
    </p>

    {% endif %}
    
    {% next_button %}

{% endblock %}
