{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Gracias
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Gracias por participar en esta actividad!</strong></p>
            <p>Por favor permanezca sentado hasta que lo llamen por su número. Entonces puede tomar su tarjeta con su número y proceder al cajero.</p>
            <!-- <p>Su pago será añadido a su cuenta MTurk de inmediato después de esta actividad. </p> -->
        </div>
    </div>

{% endblock %}

