{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Ronda de Prueba: Su eleccion
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}
        {% if player.pNum == 1 %}

            <img src="{% static 'control/control2-graph-P1.png' %}" class="center" width="80%" height="80%" />

        {% else %}

            <img src="{% static 'control/control2-graph-P2.png' %}" class="center" width="80%" height="80%" />

        {% endif %}
<br />
<div class="form-group required">
    {% if player.pNum == 1 %}
    <h2> Usted es la Persona 1 jugando con un robot</h2>
    <p>
        Mensaje de la Persona 2: "Escojo
        {% if player.ask_answer%}
            {% if player.send_answer == 'R' %}
                <img src="{% static 'control/right.png' %}" width="10%" height="10%"/>
            {% else %}
                <img src="{% static 'control/left.png' %}" width="10%" height="10%"/>
            {% endif %}
        ".
        {% else %}
        {{player.get_bot_answer_display}}".
        {% endif %}
        <br>
        Cual es su decision final?
    </p>
    {% formfield player.decision label="Su eleccion es:" %}
    {% else %}
        
    <h2> Usted es la Persona 2 jugando con un robot</h2>
    <p>
        La Persona 1 dice: "Escojo
        {% if player.ask_answer%}
            {% if player.send_message == 'R' %}
                <img src="{% static 'control/right.png' %}" width="10%" height="10%"/>
            {% else %}
                <img src="{% static 'control/left.png' %}" width="10%" height="10%"/>
            {% endif %}
        ".
        {% else %}
        {{ player.get_bot_answer_display }}".
        {% endif %}<br>
        Decision de la Persona 1: "Opción
        {% if player.ask_answer%}
            {% if player.bot_decision == 'R' %}
                <img src="{% static 'control/right.png' %}" width="10%" height="10%"/>
            {% else %}
                <img src="{% static 'control/left.png' %}" width="10%" height="10%"/>
            {% endif %}
        ".
        {% else %}
        {{ player.get_bot_decision_display }}".
        {% endif %}
        <br>

        Cual es su decisión final?
    </p>
    {% formfield player.decision label="Su eleccion es:" %}
    {% endif %}
</div>

    {% next_button %}

{% endblock %}
