{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
        Ronda de Prueba: Su mensaje
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }
    </style>

{% endblock %}

{% block content %}
        {% if player.pNum == 1 %}

            <img src="{% static 'control/control2-graph-P1.png' %}" class="center" width="80%" height="80%" />

        {% else %}

            <img src="{% static 'control/control2-graph-P2.png' %}" class="center" width="80%" height="80%" />

        {% endif %}

<br />
<div class="form-group required">
    {% if player.pNum == 1 %}
    <h2> Usted es la Persona 1 jugando con un robot</h2>
    <p>
        {% if player.send_answer != None %} {%if player.send_answer != 'ask' %} Mensaje de la Persona 2: "Escojo {{player.get_bot_answer_display}}". {% endif %} {% endif %}<br>
    </p>
    {% formfield player.send_message label="Su mensaje para el otro participante?<br>Esta no es su respuesta final" %}
    {% else %}
        
    <h2> Usted es la Persona 2 jugando con un robot</h2>
    <p>
        {% if player.send_message != None %} {% if player.send_message != 'ask' %} Mensaje de la persona 1: "Escojo {{player.get_bot_answer_display}}". {% endif %} {% endif %}<br>
    </p>
    {% formfield player.send_answer label="Su mensaje para el otro participante?<br>Esta no es su respuesta final" %}
    {% endif %}
        {% next_button %}
</div>


{% endblock %}
