{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instrucciones
{% endblock %}
  
{% block content %}
    {% if player.id_in_group == 1 %}

    <img src="{% static "control/control2-graph-P1.png" %}" class="center" width="80%" height="80%" />

    <p>
        Usted ha sido asignado al azar el rol de la <strong>Persona 1</strong>, mientras el otro participante es la Persona 2. Durante la actividad
        usted va a ver una figura como la Figura 1. La figura le va a ayudar a identificar todos los pagos posibles en el escenario en base a su decision y la del otro participante.
        Usted y el otro participante (con quién se lo emparejó al azar), pueden enviarse mensajes el uno al otro antes de tomar sus decisiones.
        Estos mensajes solo pueden ser de la siguiente forma: “Yo elijo #”, “Yo elijo @,” o puede pedirle al otro participante que le revele información ya que los símbolos en la figura son diferentes para ustedes. 
    </p>
    <p>
        Cuando usted elije <strong>#</strong> en la Figura 1, entonces los siguientes resultados son posibles:
        <ol>
            <li>Si la Persona 2 elige el lado izquierdo (algo que usted no va a saber) que en su figura equivale a #, entonces los dos van a recibir <strong>10 puntos</strong> cada uno.</li>
            <li>Si la Persona 2 elige el lado derecho (algo que usted no va a saber) que en su figura equivale a @, entonces usted va a recibir <strong>70 puntos</strong> y la Persona 2 va a recibir <strong>20 puntos</strong>.</li>
        </ol>
        Por otro lado, cuando usted elige @, entonces los siguientes resultados son posibles:
        <ol>
            <li>Si la Persona 2 elige el lado izquierdo (algo que usted no va a saber) que en su figura equivale a #, entonces usted va a recibir <strong>20 puntos</strong> y la Persona 2 va a recibir <strong>70 puntos</strong>.</li>
            <li>Si la Persona 2 elige el lado derecho (algo que usted no va a saber) que en su figura equivale a @, entonces los dos van a recibir  <strong>40 puntos</strong> cada uno.</li>
        </ol>
    </p>
    
    {% else %}

    <img src="{% static "control/control2-graph-P2.png" %}" class="center" width="80%" height="80%" />

    <p>
        Usted ha sido asignado al azar el rol de la  <strong>Persona 2</strong>, mientras el otro jparticipante es la Persona 1. Durante la actividad
        usted va a ver una figura como Figura 1. La figura le va a ayudar a identificar todos los pagos posibles en el escenario en base a su decisión y la del otro participante. Usted y el otro participante (con quién se lo emparejó al azar), pueden enviarse mensajes el uno al otro antes de tomar sus decisiones finales.  Estos mensajes 
        solo pueden ser de la siguiente forma: <strong>“Yo elijo &amp;”,</strong> <strong>“Yo elijo *,”</strong>, o puede pedirle al otro participante que le revele información ya que los símbolos en la figura son diferentes para usted y para él.
        </p>
    <p>
        Si la Persona 1 elige el lado izquierdo (algo que usted no va a saber) en la Figura 1, entonces lo siguiente puede suceder:
        <ol>
            <li>Si usted escoge &amp;, entonces los dos van a recibir <strong>10 puntos</strong> cada uno.</li>
            <li>Si usted escoge *, entonces usted va a recibir <strong>20 puntos</strong> y la Persona 1 va a recibir <strong>70 puntoss</strong>.</li>
        </ol>
        Si la Persona 1 elige el lado derecho (algo que usted no va a saber), entonces lo siguiente puede suceder:
        <ol>
            <li>Si usted escoge &amp;, entonces usted va a recibir <strong>70 puntos</strong> y la Persona 1 va a recibir <strong>20 puntos</strong>.</li>
            <li>Si usted escoge *, entonces los dos van a recibir <strong>40 puntos</strong> cada uno.</li>
        </ol>
    </p>

    {% endif %}
    
    {% next_button %}

{% endblock %}
