{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Su Mensaje
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}
        {% if player.id_in_group == 1 %}

            <img src="{% static 'control/control2-graph-P1.png' %}" class="center" width="80%" height="80%" />
        
        <h3>Usted es la Persona 1</h3>
        {% else %}

            <img src="{% static 'control/control2-graph-P2.png' %}" class="center" width="80%" height="80%" />
        <h3>Usted es la Persona 2</h3>
        {% endif %}
<br />
<div class="form-group required">
    <p>El otro participante le solicita revelar el lado de la figura que planea escoger<br>Usted podria decir "si", y revelar su lado sin costo, o puede decir "no" y mantener secreta su decisión por un <strong>costo de 5 puntos</strong>.</p>
    {% formfield group.ask_answer %}
</div>

    {% next_button %}

{% endblock %}
