{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Su elección
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}

<img src="{% static "control/control-graph.png" %}" class="center" width="80%" height="80%" />
<br />
<div class="form-group required">
    {% if player.id_in_group == 1 %}

    <h2> Usted es la Persona 1 </h2>

    {% formfield player.decision label="Su elección es:" %}

        {% else %}

    <h2> Usted es la Persona 2 </h2>
    <p>
        La decision de la Persona 1 es: "Yo elijo {{player.other_player.decision}}".
    </p>
    {% formfield player.decision label="Su elección es:" %}

        {% endif %}
</div>

    {% next_button %}

{% endblock %}
