{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Quiz
{% endblock %}

{% block content %}
    {% if player.id_in_group == 1 %}

    <img src="{% static "control/control2-graph-P1.png" %}" class="center" width="80%" height="80%" />

  <p>
      Queremos asegurarnos de que todo está claro para usted. Por favor responda el siguiente quiz. </p>

    {% formfields %}
      
    {% else %}

    <img src="{% static "control/control2-graph-P2.png" %}" class="center" width="80%" height="80%" />

    <p>
      Queremos asegurarnos de que todo está claro para usted. Por favor responda el siguiente quiz. </p>

    {% formfields %}

    {% endif %}

    {% next_button %}

{% endblock %}
