{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultado Final
{% endblock %}

{% block content %}
    <p>
        Tu escogiste <strong>{{player.gamble_number}}</strong> y el evento fue <strong>{{player.event}}</strong>
        Como resultado, tu ganaste <strong>{{ player.gain }}</strong> basado en tu decisión y el evento aleatorio.
        La cantidad total de dinero que has ganado con esta actividad es <strong>{{ participant.payoff_plus_participation_fee }}</strong>, incluyendo tu pago de presentación.
    </p>

    {% next_button %}

{% endblock %}
