{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}
    <p>
        You chose <strong>{{player.gamble_number}}</strong> and the event was <strong>{{player.event}}</strong>
        As a result, you earned <strong>{{ player.gain }}</strong> based on your decision and the random event.
        The total amount in money you have earned from the activity is <strong>{{ participant.payoff_plus_participation_fee }}</strong>, including your participation fee.
    </p>

    {% next_button %}

{% endblock %}
