{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    {% if player.round_number == 1 %}
        Ronda de prueba: Su mensaje
    {% else %}
        Su mensaje
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}

<img src="{% static "control/control-graph.png" %}" class="center" width="80%" height="80%" />
<br />
<div class="form-group required">
    <p>
        ¿Qué mensaje le quiere mandar a la Persona 2?<br>
        Esta no es su decisión final, usted puede cambiar de decisión posteriormente.
    </p>
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr>
            <th colspan="2" rowspan="2"></th>

        {% if player.id_in_group == 1 %}

            <th colspan="2">Persona 2</th>

        {% else %}

            <th colspan="2">Persona 1</th>

        {% endif %}

        </tr>
        <tr>
            <th>Elige B</th>
            <th>Elige A</th>
        </tr>
        <tr class="highlight-row-on-hover">
            <th rowspan="2"><span class="rotate90">Usted</span></th>
            <td><button name="send_message" value="B" class="btn btn-primary btn-large">Yo elijo B</button></td>
            <td>{{Constants.both_B_payoff}}, {{Constants.both_B_payoff}}</td>
            <td>{{ Constants.YouB_OpponentA_payoff }}, {{Constants.YouA_OpponentB_payoff}}</td>
        </tr>
        <tr class="highlight-row-on-hover">
            <td><button name="send_message" value="A" class="btn btn-primary btn-large">Yo elijo A</button></td>
            <td>{{Constants.YouA_OpponentB_payoff}}, {{ Constants.YouB_OpponentA_payoff }}</td>
            <td>{{Constants.both_A_payoff}}, {{Constants.both_A_payoff}}</td>
        </tr>
    </table>
</div>


{% endblock %}
