{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Ronda de prueba: Su mensaje
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/matrix.css' %}" />

    <style>
        .highlight-row-on-hover:hover td {
            background-color: #fcf8e3;
        }

    </style>

{% endblock %}

{% block content %}

<img src="{% static "control/control-graph.png" %}" class="center" width="80%" height="80%" />
<br />
<div class="form-group required">
    {% if player.id_in_group == 1 %}

    <h2> Usted es la Persona 1 jugando con un robot</h2>
    <p>
        ¿Qué mensaje le quiere mandar a la Persona 2?<br>
        Esta no es su decisión final, usted puede cambiar de decisión posteriormente.
    </p>
    {% formfield player.send_message label = "" %}

        {% else %}

    <h2> Usted es la Persona 2 jugando con un robot</h2>
    <p>
        La Persona 1 dice: "{{player.get_send_message_display}}". <br>
        ¿Qué mensaje le quiere mandar a la Persona 1?<br>
        Esta no es su decisión final, usted puede cambiar de decisión posteriormente.
    </p>
    {% formfield player.send_answer label = "" %}

        {% endif %}
</div>

    {% next_button %}

{% endblock %}
