{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instrucciones
{% endblock %}

{% block content %}
    {% if player.id_in_group == 1 %}

    <p>
        Usted ha sido asignado al azar el rol de la <strong>Persona 1</strong>, mientras el otro jugador es la Persona 2. Durante la actividad
        usted va a ver una figura como la siguiente. La figura le va a ayudar a identificar todos los pagos posibles en el escenario en base a su decision y la del otro participante.
        Usted y el otro participante (con quién se lo emparejó al azar), pueden enviarse mensajes el uno al otro antes de tomar sus decisiones.
        Estos mensajes solo pueden ser de la siguiente forma: <strong>“Yo escojo A”</strong> o <strong>“Yo escojo B,”</strong> y esto aplica a todos los 
        participantes.
    </p>

    <img src="{% static "control/control-graph.png" %}" class="center" width="80%" height="80%" />
    <p>
        Siendo la Persona 1, usted va a tomar la decisión primero, y tiene dos opciones, <strong>A</strong> o <strong>B</strong>. Usted va a enviar un mensaje de la 
        forma <strong>"Yo Escojo A"</strong> o <strong>"Yo Escojo B"</strong> a la Persona 2 emparejada con usted. Luego de que la Persona 2 
        reciba su mensaje, debe responderle con un mensaje de la forma <strong>"Yo escojo A"</strong> o <strong>"Yo escojo B"</strong>. Este
        intercambio de mensajes solo se va a llevar a cabo una vez. Luego de recibir el mensaje de la Persona 2, usted puede cambiar su decisión y la Persona 2 también puede 
        cambiar la suya. Ninguno de los dos va a saber la decisión final del otro, sin embargo, La Persona 2 también va a recibir estas indicaciones. 
    </p>
    </p>
    <p>
        Cuando usted elije <strong>A</strong> en la Figura 1, entonces los siguientes resultados son posibles:
        <ol>
            <li>Si la Persona 2 elige <strong>A</strong>, entonces los dos van a recibir <strong>10 puntos</strong> cada uno.</li>
            <li>Si la Persona 2 elige <strong>B</strong>, entonces usted va a recibir <strong>70 puntos</strong> y la Persona 2 va a recibir <strong>20 puntos</strong>.</li>
        </ol>
        Por otro lado, cuando usted elige <strong>B</strong>, entonces los siguientes resultados son posibles:
        <ol>
            <li>Si la Persona 2 elige <strong>A</strong>, entonces usted va a recibir <strong>20 puntos</strong> y la Persona 2 va a recibir <strong>70 puntos</strong>.</li>
            <li>Si la Persona 2 elige  <strong>B</strong>, entonces los dos van a recibir <strong>40 puntos</strong> cada uno.</li>
        </ol>
    </p>

    {% else %}

    <p>
        Usted ha sido asignado al azar el rol de la  <strong>Persona 2</strong>, mientras el otro jugador es la Persona 1. Durante la actividad
        usted va a ver una figura como la siguiente. La figura le va a ayudar a identificar todos los pagos posibles en el escenario en base a su decisión y la del otro participante. Como Persona 2, usted tiene dos opciones <strong>A</strong> o <strong>B</strong> ubicadas en la parte inferior de la figura. Una vez que usted tome su
        decisión, usted no puede cambiar de parecer. La Persona 1 no va a saber su elección al momento que esté tomando una decisión.
    </p>
    
    <img src="{% static "control/control-graph.png" %}" class="center" width="80%" height="80%" />
    <p>
        Al ser la Persona 2, usted va a ser el segundo en decidir. La persona 1 le va a enviar un mensaje de la forma <strong>"Yo elijo A"</strong> o <strong>"Yo elijo B"</strong>. Luego de que usted 
        recibió el mensaje, usted va a tomar una decisión sobre qué mensaje le quiere mandar a la Persona 1. Usted debe enviar su mensaje de la forma <strong>"Yo elijo A"</strong> o
        <strong>"Yo elijo B"</strong>. 
        Este intercambio de mensajes solo se va a llevar a cabo una vez. Luego de enviar su mensaje, usted puede cambiar su decisión y la Persona 1 también puede cambiar la suya. 
        Ninguno de los dos va a saber la decisión final del otro, sin embargo, la Persona 1 también va a recibir estas indicaciones. 
        
    <p>
        Cuando usted elige <strong>A</strong> en la Figura 1, entonces los siguientes resultados son posibles:

        <ol>
            <li>Si la Persona 1 elige <strong>A</strong>, entonces los dos van a recibir <strong>10 puntos</strong> cada uno.</li>
            <li>Si la Persona 1 elige <strong>B</strong>, entonces usted va a recibir <strong>20 puntos</strong> y la Persona 1 va a recibir <strong>70 puntos</strong>.</li>
        </ol>
        Por otro lado, cuando usted escoge <strong>B</strong>, entonces los siguientes resultados son posibles:
        <ol>
            <li>Si la Persona 1 elige <strong>A</strong>, entonces usted va a recibir <strong>70 puntos</strong> y la Persona 1 va a recibir <strong>20 puntos</strong>.</li>
            <li>Si la Persona 1 elige <strong>B</strong>, entonces los dos van a recibir <strong>40 puntos</strong> cada uno.</li>
        </ol>
    </p>

    {% endif %}

    {% next_button %}

{% endblock %}
